%h1 Listing memes

%table
  %tr
    %th Name
    %th Url
    %th
    %th
    %th

  - @memes.each do |meme|
    %tr
      %td= meme.name
      %td= meme.url
      %td= link_to 'Show', meme
      %td= link_to 'Edit', edit_meme_path(meme)
      %td= link_to 'Destroy', meme, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Meme', new_meme_path
